@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');


body {
   background-color:  #000000ef;
  }



h1, h2, h3, h4, h5 {
  font-family: 'Rubik Bubbles', sans-serif;
}



article {
    font-family: 'Times New Roman', Times, serif;

    font-style: oblique;
}
 


#texten {
 margin-bottom: 15px;
 padding-right: 10px;
 font-family: 'Rubik Bubbles', sans-serif;
}


h1, h2, h3, strong {
  color: rgb(209, 209, 209);
}


#text-i-biografi {
  color: white;
  
}

#eftermäle, p {
  color: rgb(250, 250, 250);
}
