body {
    background-color: rgb(17, 130, 175);
}


h1 {
    background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 15% 3px, 0 3px;
  background-position:0% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;

 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1:hover {
    background-size: 0 3px, 15% 3px;
  }

article {
    font-family: 'Times New Roman', Times, serif;

    font-style: oblique;
}
 

h1, h2, h3, strong {
  color: red;
}

#eftermäle, p {
  color: greenyellow;
}
